@import url("https://fonts.googleapis.com/css?family=Raleway:200|Roboto+Slab");
/*
	Name: Face. Google Material Design CSS Framework
	Version: 0.1
	Author: Alex Yorke <durt2701@gmail.com>
	Next beta version: 0.3
	Next stable Version: 0.2
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.2px;
}
a {
  color: #0678dc;
  text-decoration: none;
}
a:hover {
  color: #06788c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.4px;
  color: #47494a;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.5em;
  color: #808080;
}
.fc-block {
  position: relative;
  display: block;
  width: 100%;
  min-height: 0;
  max-height: 100%;
  margin: 0;
  padding: 0;
}
.fc-btn {
  position: relative;
  display: block;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  padding: 10px 15px;
  margin: 10px;
  box-shadow: 1px 1px 2px #000;
  outline: none;
  cursor: pointer;
}
.fc-btn:hover {
  background-color: #e3e3e3;
}
.fc-btn:active {
  background-color: #fff;
  box-shadow: 0px 0px 4px #ccc inset;
}
.fc-btn.red,
.fc-btn.green,
.fc-btn.blue,
.fc-btn.purple,
.fc-btn.orange,
.fc-btn.underline,
.fc-btn.yellow,
.fc-btn.yellow-white,
.fc-btn.black,
.fc-btn.fluit,
.fc-btn.fluit-nm {
  outline: none;
  border-color: transparent;
  color: #fff;
}
.fc-btn.red {
  background-color: #f33;
}
.fc-btn.red:hover {
  background-color: #ff4d4d;
}
.fc-btn.red:active {
  background-color: #f33;
  box-shadow: 0px 0px 4px #e60000 inset;
}
.fc-btn.green {
  background-color: rgba(0,211,0,0.8);
}
.fc-btn.green:hover {
  background-color: #0c0;
}
.fc-btn.green:active {
  background-color: rgba(0,211,0,0.8);
  box-shadow: 0px 0px 4px #00b300 inset;
}
.fc-btn.blue {
  background-color: #0678dc;
}
.fc-btn.blue:hover {
  background-color: #045fae;
}
.fc-btn.blue:active {
  background-color: #0678dc;
  box-shadow: 0px 0px 4px #045fae inset;
}
.fc-btn.yellow {
  color: #000;
  background-color: rgba(238,242,15,0.95);
}
.fc-btn.yellow-white {
  color: #fff;
  background-color: rgba(238,242,15,0.95);
}
.fc-btn.yellow:hover,
.fc-btn.yellow-white:hover {
  background-color: #d7da0b;
}
.fc-btn.yellow:active,
.fc-btn.yellow-white:active {
  background-color: rgba(238,242,15,0.95);
  box-shadow: 0px 0px 4px #d7da0b inset;
}
.fc-btn.purple {
  background-color: rgba(156,0,211,0.95);
}
.fc-btn.purple:hover {
  background-color: #9600cc;
}
.fc-btn.purple:active {
  background-color: rgba(156,0,211,0.95);
  box-shadow: 0px 0px 4px #9600cc inset;
}
.fc-btn.black {
  background-color: #000;
  color: #fff;
  border: transparent;
}
.fc-btn.black:hover {
  background-color: #1a1a1a;
}
.fc-btn.black:active {
  background-color: #000;
  box-shadow: 0px 0px 4px #1a1a1a inset;
}
.fc-btn.fluit {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}
.fc-btn.fluit:hover {
  background-color: #ff4d4d;
}
.fc-btn.fluit:active {
  background-color: #f33;
  box-shadow: 0px 0px 4px #e60000 inset;
}
.fc-btn.fluit-nm {
  width: 100%;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #fff;
}
.fc-btn.fluit-nm:hover {
  background-color: #ff4d4d;
}
.fc-btn.fluit-nm:active {
  background-color: #f33;
  box-shadow: 0px 0px 4px #e60000 inset;
}
.fc-btn.underline {
  color: #000;
  border-color: transparent;
}
.fc-btn.underline::after {
  content: "";
  height: 1px;
  width: 0%;
  border: 1px solid #000;
  background-color: #000;
  position: absolute;
  bottom: -0.5px;
  left: -1px;
  transition: width 0.5s ease-in-out;
}
.fc-btn.underline:hover::after {
  width: 100%;
}
.fc-btn.underline.red,
.fc-btn.underline.green,
.fc-btn.underline.blue,
.fc-btn.underline.purple,
.fc-btn.underline.black,
.fc-btn.underline.orange {
  color: #fff;
  color: #fff;
}
.fc-btn.underline.red::after,
.fc-btn.underline.green::after,
.fc-btn.underline.blue::after,
.fc-btn.underline.purple::after,
.fc-btn.underline.black::after,
.fc-btn.underline.orange::after {
  background-color: #fff;
  border-color: #fff;
}
.fc-btn.underline.yellow,
.fc-btn.underline.yellow-white {
  color: #000;
}
.fc-btn.underline.yellow::after,
.fc-btn.underline.yellow-white::after {
  background-color: #000;
  border-color: #000;
}
.fc-btn.underline.yellow-white {
  color: #fff;
}
.fc-mid {
  position: relative;
  display: block;
  min-height: 100vh;
  max-height: 860px;
  width: 100%;
  background-image: url("http://file.mobilmusic.ru/17/3a/62/1228948.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.fc-mid.parallax {
  background-position: center;
  background-attachment: fixed;
}
.fc-filter {
  width: 100%;
  min-height: 100vh;
  max-height: 860px;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.4);
}
.fc-filter.red {
  background-color: rgba(110,0,0,0.4);
}
.fc-filter.cyan {
  background-color: rgba(0,125,125,0.4);
}
.fc-filter.yellow {
  background-color: rgba(125,110,0,0.4);
}
.fc-filter.purple {
  background-color: rgba(148,56,148,0.25);
}
.fc-filter.blue {
  background-color: rgba(116,116,228,0.3);
}
.fc-filter.green {
  background-color: rgba(116,228,116,0.3);
}
.fc-header {
  padding: 200px;
  text-align: center;
  position: relative;
  display: block;
}
.fc-color.red {
  color: #f33;
}
.fc-color.purple {
  color: rgba(156,0,211,0.95);
}
.fc-color.blue {
  color: #0678dc;
}
.fc-color.green {
  color: rgba(0,211,65,0.95);
}
.fc-color.white {
  color: #fff;
}
.fc-color.orange {
  color: rgba(211,88,0,0.95);
}
.fc-color.tr {
  color: transparent;
}
.fc-color.black {
  color: #000;
}
.fc-color.a-red a {
  color: #f33;
}
.fc-color.a-purple a {
  color: rgba(156,0,211,0.95);
}
.fc-color.a-green a {
  color: rgba(0,211,65,0.95);
}
.fc-color.a-blue a {
  color: #0678dc;
}
.fc-color.a-white a {
  color: #fff;
}
.fc-color.a-orange a {
  color: rgba(211,88,0,0.95);
}
.fc-color.a-tr a {
  color: transparent;
}
.fc-color.a-black a {
  color: #000;
}
.fc-bgc.white {
  background-color: #fff;
  color: #000;
}
.fc-bgc.black {
  background-color: #000;
  color: #fff;
}
.fc-bgc.blue {
  background-color: #0678dc;
  color: #fff;
}
.fc-bgc.purple {
  background-color: rgba(156,0,211,0.95);
  color: #fff;
}
.fc-bgc.red {
  background-color: #f33;
  color: #fff;
}
.fc-bgc.green {
  background-color: rgba(0,211,65,0.95);
  color: #fff;
}
.fc-bgc.orange {
  background-color: rgba(211,88,0,0.95);
  color: #fff;
}
.fc-bgc.yellow {
  background-color: rgba(238,242,15,0.95);
  color: #000;
}
.fc-container {
  position: relative;
  margin: 0 20px;
  padding: 0;
}
@media screen and (min-width: 1240px) {
  .fc-l-1,
  .fc-l-2,
  .fc-l-3,
  .fc-l-4,
  .fc-l-5,
  .fc-l-6,
  .fc-l-7,
  .fc-l-8,
  .fc-l-9,
  .fc-l-10,
  .fc-l-11,
  .fc-l-12 {
    float: left;
  }
  .fc-l-1 {
    width: 8.333333333%;
  }
  .fc-l-2 {
    width: 16.66666666667%;
  }
  .fc-l-3 {
    width: 25%;
  }
  .fc-l-4 {
    width: 33.3333333%;
  }
  .fc-l-5 {
    width: 41.66666666667%;
  }
  .fc-l-6 {
    width: 50%;
  }
  .fc-l-7 {
    width: 58.333333333%;
  }
  .fc-l-8 {
    width: 66.66666666667%;
  }
  .fc-l-9 {
    width: 75%;
  }
  .fc-l-10 {
    width: 83.3333333333%;
  }
  .fc-l-11 {
    width: 91.66666667%;
  }
  .fc-l-12 {
    width: 100%;
  }
}
@media screen and (max-width: 1240px) {
  .fc-m-1,
  .fc-m-2,
  .fc-m-3,
  .fc-m-4,
  .fc-m-5,
  .fc-m-6,
  .fc-m-7,
  .fc-m-8,
  .fc-m-9,
  .fc-m-10,
  .fc-m-11,
  .fc-m-12 {
    float: left;
  }
  .fc-m-1 {
    width: 8.333333333%;
  }
  .fc-m-2 {
    width: 16.66666666667%;
  }
  .fc-m-3 {
    width: 25%;
  }
  .fc-m-4 {
    width: 33.3333333%;
  }
  .fc-m-5 {
    width: 41.66666666667%;
  }
  .fc-m-6 {
    width: 50%;
  }
  .fc-m-7 {
    width: 58.333333333%;
  }
  .fc-m-8 {
    width: 66.66666666667%;
  }
  .fc-m-9 {
    width: 75%;
  }
  .fc-m-10 {
    width: 83.3333333333%;
  }
  .fc-m-11 {
    width: 91.66666667%;
  }
  .fc-m-12 {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .fc-sm-1,
  .fc-sm-2,
  .fc-sm-3,
  .fc-sm-4,
  .fc-sm-5,
  .fc-sm-6,
  .fc-sm-7,
  .fc-sm-8,
  .fc-sm-9,
  .fc-sm-10,
  .fc-sm-11,
  .fc-sm-12 {
    float: left;
  }
  .fc-sm-1 {
    width: 8.333333333%;
  }
  .fc-sm-2 {
    width: 16.66666666667%;
  }
  .fc-sm-3 {
    width: 25%;
  }
  .fc-sm-4 {
    width: 33.3333333%;
  }
  .fc-sm-5 {
    width: 41.66666666667%;
  }
  .fc-sm-6 {
    width: 50%;
  }
  .fc-sm-7 {
    width: 58.333333333%;
  }
  .fc-sm-8 {
    width: 66.66666666667%;
  }
  .fc-sm-9 {
    width: 75%;
  }
  .fc-sm-10 {
    width: 83.3333333333%;
  }
  .fc-sm-11 {
    width: 91.66666667%;
  }
  .fc-sm-12 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .fc-xs-1,
  .fc-xs-2,
  .fc-xs-3,
  .fc-xs-4,
  .fc-xs-5,
  .fc-xs-6,
  .fc-xs-7,
  .fc-xs-8,
  .fc-xs-9,
  .fc-xs-10,
  .fc-xs-11,
  .fc-xs-12 {
    float: left;
  }
  .fc-xs-1 {
    width: 8.333333333%;
  }
  .fc-xs-2 {
    width: 16.66666666667%;
  }
  .fc-xs-3 {
    width: 25%;
  }
  .fc-xs-4 {
    width: 33.3333333%;
  }
  .fc-xs-5 {
    width: 41.66666666667%;
  }
  .fc-xs-6 {
    width: 50%;
  }
  .fc-xs-7 {
    width: 58.333333333%;
  }
  .fc-xs-8 {
    width: 66.66666666667%;
  }
  .fc-xs-9 {
    width: 75%;
  }
  .fc-xs-10 {
    width: 83.3333333333%;
  }
  .fc-xs-11 {
    width: 91.66666667%;
  }
  .fc-xs-12 {
    width: 100%;
  }
}
.fc-nav {
  width: 100%;
  position: relative;
  display: block;
  z-index: 3;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 1px 1px 2px #000;
  padding: 15px 20px;
  border-color: transparent;
}
.fc-nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}
.fc-nav ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 10px 15px;
}
.fc-nav ul.upper li {
  text-transform: uppercase;
}
.fc-nav ul.upper li a {
  text-transform: uppercase;
}
.fc-nav.fixed {
  position: fixed;
  width: 100%;
}
.fc-bq {
  color: rgba(0,0,0,0.7);
  font-style: italic;
  font-size: 18px;
}
.fc-bq::before {
  content: '"';
}
.fc-bq::after {
  content: '"';
}
